extends ../Shared/_Layout.jade
block seo
    title= "BLOG"
block css
block content
    .container.home
        .row
            .col-md-8
                .row
                    each data in list
                        .col-md-6
                            .acticle
                                a.img(href="/Detail/"+data.id)
                                    img(src=data.image)
                                .text
                                    a.title(href="/Detail/"+data.id)=data.title
                                    p.dec=data.description
            .col-md-4
                .rightlist.ewm
                    img(src="/images/bg.jpg")
                .rightlist.notice
                    .title 公告
                    .text
                        |!{notice.text}
block js
