.friend_linkBox
    table.bot_table(cellpadding="0", cellspacing="0")
        tr
            td.title 3分钟学会拍卖
            td.title 关于我们
            td.title 手机客户端下载
            td.title 二手汇公众号
            td(rowspan="2", style="width:260px;")
                .tel 热线：400-6363-648
                .work-time 周一至周五 9:00-17:00
        tr
            td.tddesc
                a.desc(href=corsUrl+"/Home/HowBuy", rel="nofollow") 如何参拍
                a.desc(href=corsUrl+"/Home/HowSell", rel="nofollow") 如何送拍
            td.tddesc(style="padding-bottom:10px;")
                a.desc(href=corsUrl+"/Home/Company", rel="nofollow") 公司简介
                a.desc(href=corsUrl+"/Home/ConnectUS", rel="nofollow") 联系我们
                a.desc(href=corsUrl+"/Home/SiteMap") 网站地图
            td.tddesc
                a.desc(href=corsUrl+"/Home/AppDown", rel="nofollow") 安卓版APP
                a.desc(href=corsUrl+"/Home/AppDown", rel="nofollow") IOS版APP
            td(style="padding-top:3px; padding-bottom:3px;")
                img(src=javaurl+"/Images/home/esh_gzh.png")
    table.friend_link
        tr
            td.category
                span 热门品牌：
            td
                a(href=corsUrl+"/Business/U27B142", target="_blank") 小松二手挖掘机
                a(href=corsUrl+"/Business/U27B124", target="_blank") 卡特二手挖掘机
                a(href=corsUrl+"/Business/U27B132", target="_blank") 日立二手挖掘机
                a(href=corsUrl+"/Business/U27B115", target="_blank") 斗山二手挖掘机
                a(href=corsUrl+"/Business/U27B144", target="_blank") 现代二手挖掘机
                a(href=corsUrl+"/Business/U27B134", target="_blank") 神钢二手挖掘机
                a(href=corsUrl+"/Business/U27B15", target="_blank") 沃尔沃二手挖掘机
                a(href=corsUrl+"/Business/U27B145", target="_blank") 徐工二手挖掘机
                a(href=corsUrl+"/Business/U27B137", target="_blank") 三一二手挖掘机
                a(href=corsUrl+"/Business/U27B118", target="_blank") 久保田二手挖掘机
        tr
            td.category
                span 热门省份：
            td
                a(href=corsUrl+"/Business/U27P32", target="_blank") 江苏二手挖掘机
                a(href=corsUrl+"/Business/U27P31", target="_blank") 上海二手挖掘机
                a(href=corsUrl+"/Business/U27P33", target="_blank") 浙江二手挖掘机
                a(href=corsUrl+"/Business/U27P51", target="_blank") 四川二手挖掘机
                a(href=corsUrl+"/Business/U27P44", target="_blank") 广东二手挖掘机
                a(href=corsUrl+"/Business/U27P37", target="_blank") 山东二手挖掘机
                a(href=corsUrl+"/Business/U27P13", target="_blank") 河北二手挖掘机
                a(href=corsUrl+"/Business/U27P35", target="_blank") 福建二手挖掘机
                a(href=corsUrl+"/Business/U27P42", target="_blank") 湖北二手挖掘机
                a(href=corsUrl+"/Business/U27P45", target="_blank") 广西二手挖掘机
        tr
            td.category
                span 热门设备：
            td
                a(href=corsUrl+"/Business/U27T0-4", target="_blank") 小型二手挖掘机
                a(href=corsUrl+"/Business/U27T17-19", target="_blank") 中型二手挖掘机
                a(href=corsUrl+"/Business/U27T33-36", target="_blank") 大型二手挖掘机
                a(href=corsUrl+"/Business/U28", target="_blank") 二手装载机
                a(href=corsUrl+"/Business/U35", target="_blank") 二手吊车
                a(href=corsUrl+"/Business/U39", target="_blank") 二手自卸车
                a(href=corsUrl+"/Business/U38", target="_blank") 二手平地机
        tr
            td.category
                span 热门型号：
            td
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u5C0F%u677E60", target="_blank") 小松60
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u5C0F%u677E220", target="_blank") 小松220
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u5C0F%u677E360", target="_blank") 小松360
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u5361%u7279320", target="_blank") 卡特320
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u5361%u7279336", target="_blank") 卡特336
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u65E5%u7ACB60", target="_blank") 日立60
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u65E5%u7ACB200", target="_blank") 日立200
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u6597%u5C7160", target="_blank") 斗山60
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u6597%u5C7180", target="_blank") 斗山80
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u6597%u5C71220", target="_blank") 斗山220
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u6597%u5C71225", target="_blank") 斗山225
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u6597%u5C71150", target="_blank") 斗山150
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u73B0%u4EE360", target="_blank") 现代60
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u73B0%u4EE3225", target="_blank") 现代225
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u73B0%u4EE3215", target="_blank") 现代215
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u795E%u94A2260", target="_blank") 神钢260
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u4E34%u5DE5953", target="_blank") 临工953
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u5927%u5B87220", target="_blank") 大宇220
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u6C83%u5C14%u6C83210", target="_blank") 沃尔沃210
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u6C83%u5C14%u6C83360", target="_blank") 沃尔沃360
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u6C83%u5C14%u6C83460", target="_blank") 沃尔沃460
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u4E09%u4E00215", target="_blank") 三一215
                a(href=corsUrl+"/Business/SearchResults?keyWord=%u4E09%u4E0075", target="_blank") 三一75
    .copyright 山西二手汇科技有限公司版权所有-晋ICP备14009152号
